* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    margin: 5px;
}

h1 {
    text-align: center;
    color: wheat;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: red;
    padding: 20px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #575757;
}

li {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: wheat;
}

input {
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    filter: drop-shadow( 5px 5px 5px #202020);
    border-radius: 10px;
}

.title.through {
    text-decoration: line-through;
}

span {
    filter: drop-shadow( 5px 5px 5px #575757);
    cursor: pointer;
}